[Desktop Entry]
Version=1.0
Terminal=false
Name=3D
Exec=linuxcnc /home/tordex/linuxcnc/configs/3D/3D.ini
Type=Application
Comment=Desktop Launcher for LinuxCNC config made by Stepconf
Icon=/usr/share/linuxcnc/linuxcncicon.png
Path=
StartupNotify=false
